<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<STYLE TYPE="text/css">
<!--
  /*@import url(css/oj-redwood-min.css);*/
-->
.oj-button-danger-chrome {
    --oj-button-solid-chrome-bg-color: rgba(255,0,0,0.3);
    --oj-button-solid-chrome-border-color: transparent;
    --oj-button-solid-chrome-text-color: rgba(255,0,0,0.3);
    --oj-button-solid-chrome-bg-color-hover: rgba(255,0,0,0.3);
    --oj-button-solid-chrome-border-color-hover: transparent;
    --oj-button-solid-chrome-text-color-hover: rgba(255,0,0,0.3);
    --oj-button-solid-chrome-bg-color-active: rgba(255,0,0,0.3);
    --oj-button-solid-chrome-border-color-active: transparent;
    --oj-button-solid-chrome-text-color-active: rgba(255,0,0,0.3);
}
</STYLE>
<div id="circle"></div>

<div class="">
    
    <div class="oj-flex-item oj-sm-padding-2x-horizontal" style="text-align: right"> 
        <oj-bind-if test="[[wfoModel() && wfoModel().status === 'NEW']]">             
            <oj-avatar
                role="img" slot="leading"
                initials="New"
                size="xs">                                
            </oj-avatar>
        </oj-bind-if> 
        <oj-bind-if test="[[wfoModel() && wfoModel().status === 'CREATED']]">             
            <oj-avatar
                role="img" slot="leading"                
                initials="Crt"
                size="xs"
                background="green">                                
            </oj-avatar>
        </oj-bind-if> 
        <oj-bind-if test="[[wfoModel() && wfoModel().status === 'PROCESSING']]">             
            <oj-progress id="progressCircle" type="circle" value="-1"></oj-progress>
        </oj-bind-if>             
        <oj-bind-if test="[[wfoModel() && wfoModel().status === 'ABORTED']]">             
            <oj-avatar
                role="img" slot="leading"                
                initials="Abr"
                size="xs"
                background="orange">                                
            </oj-avatar>
        </oj-bind-if> 
    </div>
    
    <hr/>
    <br/>

    <oj-form-layout id="ofl1" label-edge="start" max-columns="2" 
                    class="oj-form-control-full-width">                   
        
        <oj-bind-if test="[[wfoModel() && wfoModel().status === 'NEW']]">    
            <oj-range-slider
                id="range-slider"
                value="{{value}}"
                min="[[min]]"
                max="[[max]]"
                transient-value="{{transientValue}}"
                label-hint="range slider component"
                label-edge="inside">                
            </oj-range-slider>

            <oj-slider
                id="sliderIn"
                value="{{valueIn}}"
                transient-value="{{transientValueIn}}"
                min="[[minIn]]"
                max="[[maxIn]]"
                label-hint="slider component"
                label-edge="inside">              
            </oj-slider>

            <oj-slider
                id="sliderOut"
                value="{{valueOut}}"
                transient-value="{{transientValueOut}}"
                min="[[minOut]]"
                max="[[maxOut]]"
                label-hint="slider component"
                label-edge="inside">              
            </oj-slider>
        </oj-bind-if> 
        
        <oj-bind-if test="[[wfoModel() && wfoModel().status !== 'NEW']]"> 
            <oj-input-text
                id="range"
                readonly="true"
                value="[[wfoModel().name]]"
                label-hint="Range:"                                 
                readonly>              
            </oj-input-text>  
        </oj-bind-if>         
                        
        <oj-input-text
            id="range"
            readonly="true"
            value="[[value().start + ' - ' + value().end]]"
            label-hint="Range:"                                 
            readonly>              
        </oj-input-text>   
        
        <oj-combobox-one 
            id="combobox1" 
            value="{{selectedTimeFrame}}" 
            readonly="[[wfoModel() && wfoModel().status !== 'NEW']]"
            label-hint="Timeframe:"         
            style="max-width: 24em;">
          <oj-bind-for-each data="[[timeFrames]]">
              <template>
                  <oj-option value="[[$current.data.id]]">
                      <span>
                          <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                      </span>              
                  </oj-option>
              </template>
          </oj-bind-for-each>
        </oj-combobox-one>   

        <oj-input-text
            id="out"
            readonly="true"
            value="{{valueIn() / 10}}"
            label-hint="In-Sample:"                                 
            readonly>              
        </oj-input-text>        
        
        <oj-input-text
            id="end"
            readonly="true"
            value="{{valueOut() / 10}}"
            label-hint="Out-Sample:"                                 
            readonly>              
        </oj-input-text>                                         

    </oj-form-layout> 
    
    <oj-bind-if test="[[wfoModel() && wfoModel().status === 'COMPLETED']]">
    
    <div id="demo-container" class="oj-flex demo-edge-top">
        
        <div class="demo-tabbar-container">
            
            <oj-tab-bar
                selection="{{selectedItem}}"
                data="[[dataProvider]]" class="oj-tabbar oj-divider-bottom"                
                edge="top" layout="condense"
                display="all">
                <template slot="itemTemplate" data-oj-as="item">
                  <li :id="[[item.data.id]]" :class="[[{'oj-disabled' : item.data.disabled === 'true'}]]">
                    <a href="#">
                      <span :class="[['oj-tabbar-item-icon ' + item.data.icons]]"></span>
                      <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                    </a>
                  </li>
                </template>
            </oj-tab-bar>
            
        </div>
    
        <!--div class="demo-switcher-container" style="width:100%">
            <oj-switcher value="[[selectedItem]]">            
                <div slot="neighbors-tab" class="oj-panel" id="neighbors-tab-panel" role="tabpanel" aria-labelledby="neighbors_tab">
                    <div id="neighbors" data-bind="ojModule: { name: 'neighbors', params: {houseModel: houseModel}}"
                    class="oj-sm-padding-4x">
                    </div>
                </div>
                <div slot="debts-tab" class="oj-panel" id="neighbors-tab-panel" role="tabpanel" aria-labelledby="debts_tab">
                    <div id="neighbors" data-bind="ojModule: { name: 'debts', params: {houseModel: houseModel}}"
                    class="oj-sm-padding-4x">
                    </div>
                </div>
            </oj-switcher>
        </div-->
    
    </div>
        
    </oj-bind-if>
              
</div>    

<br/>

<div slot="footer" style="text-align:right">
    
    <!--oj-button id="backButton" on-oj-action="[[goToFees]]" class="">
        Back
    </oj-button-->
    
    <oj-button id="deleteButton" chroming="danger" on-oj-action="[[removeWFO]]" class="delete-button">
        Delete
    </oj-button>
    
    <oj-button id="saveButton" chroming="callToAction" on-oj-action="[[submitWFO]]">
        Save
    </oj-button>
    
    <oj-button id="processButton" chroming="callToAction" on-oj-action="[[processWFO]]">
        Process
    </oj-button>
    
    <oj-button id="abortButton" chroming="callToAction" on-oj-action="[[abortWFO]]" class="delete-button">
        Abort
    </oj-button>
</div>

 <!-- Messages -->
<oj-messages messages="[[messagesDataprovider]]" position="{}" display="notification">
</oj-messages>

<oj-dialog id="dialogMsg" dialog-title="Messagge Dialog" cancel-behavior="icon">
    <div slot="body">
        <oj-form-layout>
            <oj-text-area id="text-area" readonly="true" rows="3" label-hint="error"></oj-text-area>
        </oj-form-layout>
    </div>
    <div slot="footer">
      <oj-button id="okButton" chroming="callToAction" on-oj-action="[[closeDialog]]">Close</oj-button>
    </div>
</oj-dialog>